@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}
// Colores
$negro: #181818;
$gris-medio:#242424;
$rojo: #D32531;
$gris: #2D2D2D;
$gris-claro: #EFEFF2;
$info: #2EB8BE;

body {
    background-image: url('../image/bg-dots.svg');
    background-color: $gris-medio;
} 
#header-rs {
    padding: 20px 0;
    background-color: $negro;
    a {
        font-size: 1rem;
        color: $gris-claro;
        text-decoration: none;
        padding: 0 1.25rem;
        font-weight: bold;
        span {
            font-size: 1.2rem;
        }
        &:hover {
            color: $rojo;
        }
    }
    button {
        background-color: $rojo;
        border-radius: 3px;
        padding: 0.25rem 1.5rem;
        color: white;
        border: none;
        font-weight: bold;
        &:hover {
            background: rgb(187, 0, 0);
        }
    }
}
#menu-principal {
    border-top: 1px solid $gris-claro;
    border-bottom: 1px solid $gris-claro;
    background-color: $gris;
}
#menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 20px 0;
    li a {
        text-decoration: none;
        color: $gris-claro;
        font-size: 0.9rem;
        font-weight: bold;
        &:hover {
            color: $rojo;
        }
        span {
            margin-right: 8px;
        }
    }
}

main {
    background-color: $negro;
    color: $gris-claro;
    padding: 40px 20px;
}

.post-principal {
    background-color: $gris-medio;
    border-radius: 3px;
    overflow: hidden;
    a {
        text-decoration: none;
        position: relative;
        box-sizing: content-box;
        display: flex;
        img {
            width: 100%;
            max-height: 600px;
            object-position: cover;
        }
        .header-pp {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
            width: 100%;
            padding: 0 20px;
            background: rgb(0,0,0);
            background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6446779395351891) 50%, rgba(0,0,0,0) 100%);
            background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6446779395351891) 50%, rgba(0,0,0,0) 100%);
            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6446779395351891) 50%, rgba(0,0,0,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1); 
            h3 {
                font-size: 1.875rem;
                line-height: 1;
                margin-bottom: 8px;
                color: white;
            }
            p {
                color: white;
                line-height: 1.1;
            }
        }
    }
}
.post-secundario {
    background-color: $gris;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 20px;
    a {
        color: white;
        text-decoration: none;
        img {
            width: 100%;
            max-height: 175px;
            object-fit: cover;
            object-position:0 0;
        }
        .header-ps {
            padding: 20px;
            h3 {
                font-size: 1em;
            }
        }
    }

}
.post-categoria {
    color: black;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.25rem;
    background-color: #facd42;
    margin-bottom: 8px;
    display: inline-block;
}
.post-sueltos {
    display: flex;
    a {
        box-sizing: border-box;
        width: 25%;
        margin: 20px 5px;
        padding: 5px;
        border-radius: 3px;
        text-decoration: none;
        color: white;
        background-color: $gris;
        span {
            text-decoration: underline;
            text-underline-offset: 4px;
            margin-bottom: 4px;
            display: block;
            color: $rojo;
            font-size: 0.9em;
            font-weight: bold;
        }
        h4 {
            font-size: 0.85em;
            text-decoration: none;
            font-weight: normal;
        }
    }
}
.titulo-navbar {
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: $info;
    padding: 5px;
    margin-bottom: 8px;
    display: block;
}
#menu-trending {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        display: flex;
        margin: 0;
        padding: 0;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            background-color: $gris;
            padding: 10px 5px;
            margin: 3px 0;
            span {
                padding: 12px;
                border: 1px solid $info;
                border-radius: 100%;
                color: $info;
                width: 10px;
                height: 10px;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                box-sizing: border-box;
                font-weight: bold;
                margin-right: 8px;
            }
            h5 {
                font-size: 0.9em;
                color: white;
                font-weight: normal;
                margin-bottom: 0;
            }
        }
    }
    
    
}
.titulo-categorias {
    background-color: $rojo;
    font-size: 1.5em;
    padding: 10px;
}
.categoria {
    background-color: $gris;
    padding: 5px;
    margin: 15px 0;
    border-radius: 3px;
    a {
        color: white;
        text-decoration: none;
        display: flex;
        img {
            width: 20%;
            object-fit: cover;
            max-height: 150px;
            box-sizing: border-box;
        }
        div {
            padding: 0 20px;
            width: 80%;
            box-sizing: border-box;
            display: grid;
            h5 {
                font-size: 1.5em;
                margin-bottom: 4px;
                white-space: nowrap;
                max-height: 8rem;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .fecha {
                font-size: 0.8em;
                margin: 0;
            }
            p {
                padding: 8px 0;
                overflow: hidden !important;
                text-overflow: ellipsis;
                display: block;
                max-height: 8rem;
                margin: 0;
                white-space: nowrap;
            }
            .etiquetas {
                background-color: $info;
                padding: 3px;
                font-size: 0.8em;
                font-weight: bold;
                align-self:baseline;
                box-sizing: content-box;
                width: fit-content;
            }
        }
    }
}