@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: 'Rubik', sans-serif;
}

body {
  background-image: url("../image/bg-dots.svg");
  background-color: #242424;
}

#header-rs {
  padding: 20px 0;
  background-color: #181818;
}

#header-rs a {
  font-size: 1rem;
  color: #EFEFF2;
  text-decoration: none;
  padding: 0 1.25rem;
  font-weight: bold;
}

#header-rs a span {
  font-size: 1.2rem;
}

#header-rs a:hover {
  color: #D32531;
}

#header-rs button {
  background-color: #D32531;
  border-radius: 3px;
  padding: 0.25rem 1.5rem;
  color: white;
  border: none;
  font-weight: bold;
}

#header-rs button:hover {
  background: #bb0000;
}

#menu-principal {
  border-top: 1px solid #EFEFF2;
  border-bottom: 1px solid #EFEFF2;
  background-color: #2D2D2D;
}

#menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  margin: 20px 0;
}

#menu li a {
  text-decoration: none;
  color: #EFEFF2;
  font-size: 0.9rem;
  font-weight: bold;
}

#menu li a:hover {
  color: #D32531;
}

#menu li a span {
  margin-right: 8px;
}

main {
  background-color: #181818;
  color: #EFEFF2;
  padding: 40px 20px;
}

.post-principal {
  background-color: #242424;
  border-radius: 3px;
  overflow: hidden;
}

.post-principal a {
  text-decoration: none;
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post-principal a img {
  width: 100%;
  max-height: 600px;
  -o-object-position: cover;
     object-position: cover;
}

.post-principal a .header-pp {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  padding: 0 20px;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(50%, rgba(0, 0, 0, 0.644678)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.644678) 50%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.post-principal a .header-pp h3 {
  font-size: 1.875rem;
  line-height: 1;
  margin-bottom: 8px;
  color: white;
}

.post-principal a .header-pp p {
  color: white;
  line-height: 1.1;
}

.post-secundario {
  background-color: #2D2D2D;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 20px;
}

.post-secundario a {
  color: white;
  text-decoration: none;
}

.post-secundario a img {
  width: 100%;
  max-height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

.post-secundario a .header-ps {
  padding: 20px;
}

.post-secundario a .header-ps h3 {
  font-size: 1em;
}

.post-categoria {
  color: black;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.25rem;
  background-color: #facd42;
  margin-bottom: 8px;
  display: inline-block;
}

.post-sueltos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post-sueltos a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25%;
  margin: 20px 5px;
  padding: 5px;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  background-color: #2D2D2D;
}

.post-sueltos a span {
  text-decoration: underline;
  text-underline-offset: 4px;
  margin-bottom: 4px;
  display: block;
  color: #D32531;
  font-size: 0.9em;
  font-weight: bold;
}

.post-sueltos a h4 {
  font-size: 0.85em;
  text-decoration: none;
  font-weight: normal;
}

.titulo-navbar {
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #2EB8BE;
  padding: 5px;
  margin-bottom: 8px;
  display: block;
}

#menu-trending {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu-trending li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

#menu-trending li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  background-color: #2D2D2D;
  padding: 10px 5px;
  margin: 3px 0;
}

#menu-trending li a span {
  padding: 12px;
  border: 1px solid #2EB8BE;
  border-radius: 100%;
  color: #2EB8BE;
  width: 10px;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
  margin-right: 8px;
}

#menu-trending li a h5 {
  font-size: 0.9em;
  color: white;
  font-weight: normal;
  margin-bottom: 0;
}

.titulo-categorias {
  background-color: #D32531;
  font-size: 1.5em;
  padding: 10px;
}

.categoria {
  background-color: #2D2D2D;
  padding: 5px;
  margin: 15px 0;
  border-radius: 3px;
}

.categoria a {
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categoria a img {
  width: 20%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.categoria a div {
  padding: 0 20px;
  width: 80%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
}

.categoria a div h5 {
  font-size: 1.5em;
  margin-bottom: 4px;
  white-space: nowrap;
  max-height: 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.categoria a div .fecha {
  font-size: 0.8em;
  margin: 0;
}

.categoria a div p {
  padding: 8px 0;
  overflow: hidden !important;
  text-overflow: ellipsis;
  display: block;
  max-height: 8rem;
  margin: 0;
  white-space: nowrap;
}

.categoria a div .etiquetas {
  background-color: #2EB8BE;
  padding: 3px;
  font-size: 0.8em;
  font-weight: bold;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
/*# sourceMappingURL=style.css.map */